@model TestTask.ViewModels.CalendarModel
@{
    ViewBag.Title = "Test";
    Layout = "_Layout";
}

<div class="container-fluid">
    <header>
        <h4 class="display-4 mb-4 text-center">@Model.FirstDayOfTheMonth.ToString("MMMM") @Model.FirstDayOfTheMonth.Year</h4>
        <div class="row d-none d-sm-flex p-1 bg-dark text-white">
            <h5 class="col-sm p-1 text-center">Понедельник</h5>
            <h5 class="col-sm p-1 text-center">Вторник</h5>
            <h5 class="col-sm p-1 text-center">Среда</h5>
            <h5 class="col-sm p-1 text-center">Четверг</h5>
            <h5 class="col-sm p-1 text-center">Пьятница</h5>
            <h5 class="col-sm p-1 text-center">Суббота</h5>
            <h5 class="col-sm p-1 text-center">Воскресенье</h5>
        </div>
    </header>
    <div class="row border border-right-0 border-bottom-0">
        @for (var i = 0; i < 42; i++)
        {
            var date = Model.StartDate.AddDays(i);
            var count = Model.Tasks.Count(task => task.Date.Date == date.Date);
            if (i % 7 == 0 && i > 1)
            {
                @:<div class="w-100"></div>
            }
            <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate">
                <h5 class="row align-items-center">
                    @if (date.Month == Model.FirstDayOfTheMonth.Month)
                    {
                        <span class="date col-1"><a class="day-number-current" asp-controller="Calendar" asp-action="ShowDay" asp-route-dayDate="@date.ToString("dd-MM-yyyy")">@date.Day</a></span>
                    }
                    else
                    {
                        <span class="date col-1"><a class="day-number" asp-controller="Calendar" asp-action="ShowDay" asp-route-dayDate="@date.ToString("dd-MM-yyyy")">@date.Day</a></span>
                    }
                    <small class="col d-sm-none text-center text-muted">Sunday</small>
                    <span class="col-1"></span>
                </h5>
                @if (count > 0)
                {
                    <p class="event d-block p-1 pl-2 pr-2 mb-1 rounded text-truncate small bg-info text-white">@count</p>
                }
            </div>
        }
    </div>
</div>